<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="menu">
        <h1>BookSys</h1>
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.login') }}">Login</a>
        <a href="{{ url_for('main.book_page') }}">Livros</a>
        <a href="{{ url_for('main.loan_page') }}">Empréstimos</a>
        <a href="{{ url_for('main.deadline_page') }}">Atrasos</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
