{% extends "base.html" %}
{% block title %}Empréstimos{% endblock %}
{% block content %}
    <h2>Empréstimos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Livro</th>
                <th>Usuário</th>
                <th>Data de Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.book }}</td>
                <td>{{ loan.user }}</td>
                <td>{{ loan.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
